@use './reset.scss';
@use './variables.scss';
@use './mixins.scss';

.page-wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
